* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.con-1 {
  margin: 70px 70px 70px 70px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 30px;
  box-shadow: 3px 3px 10px;
}
.saidebar {
  background-color: rgb(0, 183, 255);
  width: 200px;
  height: 400px;
  border-radius: 20px;
}
.saidebar img {
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 50%;
}

.blue{
  color: aliceblue;
}